---
title: 'Design Concept Vignettes'
description: Images and clips from the HTML prototype.
date: 2021-03-26T00:00:00Z
---
<div>
    <h2>Video-based Learning Material</h2>
    <div class="main-carousel" data-flickity='{"autoPlay":true}'>
        <img class="carousel-cell" src="/assets/images/posts/fg00-home.png" alt="video-based learning materials screenshot">
        <img class="carousel-cell" src="/assets/images/posts/fg01-video.png" alt="video-based learning materials screenshot">
        <img class="carousel-cell" src="/assets/images/posts/fg02-video.png" alt="video-based learning materials screenshot">
    </div>

    <h2>Quiz-based Learning Materials</h2>
    <div>
        <img src="/assets/images/posts/qz.gif" alt="quiz-based learning materials gif">
    </div>

    <h2>Skill-based learning Material</h2>
    <div>
        <img src="/assets/images/posts/ss.gif" alt="skill-based learning materials gif">
    </div>

    <h2>Static Learning Material</h2>
    <div>
        <img src="/assets/images/posts/ss.gif" alt="skill-based learning materials gif">
    </div>

    <h2>Grounding</h2>
    <div>
        <img src="/assets/images/posts/gg.gif" alt="grounding gif">
    </div>

    <h2>Motivation</h2>
    <div>
        <img src="/assets/images/posts/vp.gif" alt="motivation gif">
    </div>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
